@model POsWebAPITesting.Models.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCreatorUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCreatorUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryDeleterUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryDeleterUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryDeletionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryDeletionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryIsDefault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryIsDefault)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryIsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryIsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryLastModificationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryLastModificationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryLastModifierUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryLastModifierUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CountryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
